.container-fluid{
	padding: 0px;
}

.header{
	width: 100%;
	font-size: 36px;
	color: #FDF5E6;
	text-align: center;
	background-color: #DB7093;
}

body {
	background-color: #FFEFD5;
}

.copyright p  {
	float: right;
	margin-right: 200px;
	margin-bottom: 800px;
	margin-top: -20px;
}

/*.nav {
	margin: 0px 600px 0px 550px;

}*/
.nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-pills {
    text-align:center;
}

.banner>img, .logo>img{
	display: block;
	margin: auto;
}

.navcontent{
	text-align: center;
}