.container-fluid{
	padding: 0px;
}

.header{
	width: 100%;
	
	font-size: 36px;
	color :#F08080;
	text-align: center;
 /*#FDF5E6*/
	/*background-color: #DB7093;*/
	background-color:#FFDAB9
}

h1{
	font-family: 'Brush Script MT', cursive;
	font-size: 56px; 

}

body {
	background-color: #FFEFD5;
}

/*-----------------Navigation pill CSS---------------------*/
.nav-pills > li {
	float:none;
	display:inline-block;
	*display:inline; /* ie7 fix */
	zoom:1; /* hasLayout ie7 trigger */
}

.nav-pills {
	text-align:center;
}

/*make non-active nav-pills same color as parent when hover*/
.nav-pills > li > a:hover {
	color: #A13030; 
	background-color: inherit;
}

/*change color of active pills*/
.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
	color: #8B0000;
	background-color: #FA8072;
}

/*lighter brown text when hover, lighter coral pink pill when hover*/
.nav-pills > li.active > a:hover {
	color: #A13030; 
	background-color: #F9A49A;
}

/* default darker brown font text colour */
.nav-pills >li >a{
	color: #8B0000;
	background-color: #FFD6D6; /*lighter pink pill background of normal inactive pill*/
}

.navcontent{
	text-align: center;
}

.banner>img, .logo>img{
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

/*.footerupdate{
	display: table;
	text-align: center;	
	bottom: 0;
	position: fixed;
	
	margin-left: auto;
	margin-right: auto;
}
*/
.footerupdate {
	clear: both;
	text-align: center;
	position: relative;
	bottom: 0em;
	z-index: 10;
	width:100%;
	height: 3em;
	margin-top: 4em;
	background-color: #0A0A00;
	color: #FFFFFF;
}